# /etc/systemd/system/node_exporter.service

[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=nodeuser
Group=nodeuser
Restart=on-failure
ExecStart=/usr/local/bin/node_exporter 


[Install]
WantedBy=multi-user.target
